@model LocalMessenger.Models.ViewModel

<form method="post" action="/User/Add">
    <input name="firstName" placeholder="Имя" required />
    <input name="secondName" placeholder="Фамилия" required />
    <input name="date" type="date" placeholder="Дата рождения" required />
    <input name="id" placeholder="Ваш уникальный ID" required />
    <button type="submit">Добавить пользователя</button>
</form>

<hr />

<div id="usersList">
    <h3>Список пользователей</h3>
    @foreach (var userEntry in Model.Users)
    {
        var user = userEntry.Value;
        var age = (int)((DateTime.Now - user.Date).Days / 365.25);
        <p>
            <b>@user.FirstName @user.SecondName</b> 
            (@age лет)
        </p>
    }
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chatHub")
        .build();

    connection.on("ReceiveUser", function (user) {
        const usersList = document.getElementById('usersList');
        const birthDate = new Date(user.date);
        const today = new Date();
        const age = Math.floor((today - birthDate) / (365.25 * 24 * 60 * 60 * 1000));
        const newUser = `<p><b>${user.firstName} ${user.secondName}</b> (${age} лет)</p>`;
        usersList.innerHTML += newUser;
    });

    connection.start().catch(err => console.error(err.toString()));
</script>