@using System.Diagnostics.Eventing.Reader
@model LocalMessenger.Models.ViewModel

<form method="post" action="/User/Add">
    <input name="firstName" placeholder="Имя" required />
    <input name="secondName" placeholder="Фамилия" required />
    <input name="date" type="date" placeholder="Дата рождения" required />
    <input name="id" placeholder="Айди" required />
    <button type="submit">Добавить</button>
</form>

<div id = "usersList">
    <h3>Список пользователей</h3>
    @foreach(var user in Model.Users)
    {
        <p><b>@user.Value.FirstName @user.Value.SecondName</b> (@((int)((DateTime.Now - user.Value.Date).Days / 365.25)) лет)</p>
    }
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chatHub")
        .build();

    connection.on("ReceiveUser", function (user) {
        const usersList = document.getElementById('usersList');
        const birthDate = new Date(user.date);
        const today = new Date();
        const age = Math.floor((today - birthDate) / (365.25 * 24 * 60 * 60 * 1000));
        const newUser = `<p><b>${user.firstName} ${user.secondName}</b> (${age} лет)</p>`;
        usersList.innerHTML += newUser;
    });

    connection.start().catch(err => console.error(err.toString()));
</script>